@media(max-width: 767px){
  #emailForm{
    flex-direction: column;
  }
}
@media(min-width: 768px){
  
}
main{
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.25rem;
}
#headerContainer{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

}
#heading{
  color: hsl(209, 33%, 12%);
}
#headingFullstop{
  color: hsl(223, 87%, 63%);
}
#launchSoon{
  font-weight: 300;
  color: hsl(0, 0%, 59%);

  margin-top: 2rem;
}
#soonSpan{
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}
#subAndNotif{
  margin-top: 1rem;
  font-size: 0.55rem;
}
#emailForm{
  margin-top: 1.5rem;
  box-sizing: border-box;
  width: 100%;

  display: flex;

  align-items: center;
  justify-content: center;
}
#inputContainer{
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
}
#emailInput, #submitBtn{
  font-size: 0.6rem;
  padding: 0.75rem 1.75rem;
  border-radius: 2rem;
}
#emailInput{
  box-sizing: border-box;
  width: 100%;

  border: 1px solid hsl(223, 100%, 88%);
}
#emailInput::placeholder{
  color: hsl(223, 100%, 88%);
}
#submitBtn{
  margin-top: 0.5rem;
  width: 100%;

  background-color: hsl(223, 87%, 63%);
  color: white;
  font-weight: 600;
  
  box-shadow: 0 5px 10px hsl(223, 100%, 88%);
  border: none;
}
#illustration{
  margin-top: 3.5rem;
  max-width: 100%;
}
#socialLinkContainer{
  margin-top: 5rem;
  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 1rem;
}
svg{
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 0.75rem;
  padding: 0.2rem;
}
#copyRightContainer{
  margin-top: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
#copyRightText{
  color: hsl(0, 0%, 59%);
  font-size: 0.55rem;
}